<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Garcia Ian</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="suma.ts" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        Garcia Ian
        <br>
        <input type="text" [(ngModel)]="miSuma.edadUno" id="edadUno">
        <input type="text" [(ngModel)]="miSuma.edadDos" id="edadDos">
        <input type="button" (click)="miSuma.suma()" value="sumar">
        <input type="button" (click)="miSuma.limpiar()" value="limpiar">
        <br>
        Suma:
        <input type="text" id="inputSuma" disabled>
        <br>
        Promedio:
        <input type="text" id="inputPromedio" disabled >
    </body>
</html>